@using Bug.Bounty.DataClasses;
@{
    ViewBag.Title = "Home Page";
    var bugsList = ViewBag.BugsList as List<Bug>;
}

@section styles{
    @Styles.Render("~/Content/bugs-home")
}

@section MainSection{
    <div class="jumbotron">
        @if (bugsList != null && bugsList.Count > 0)
        {
            <table>
                <tr>
                    <th style="width:60%">Title</th>
                    <th>Platform</th>
                    <th>Created By</th>
                    <th>Severity</th>
                </tr>

                @foreach (var bug in bugsList)
                {
                    <tr class="bug-container">
                        <td><a href="@(Url.Action("ViewBug","Bugs") + "?id=" + bug.Id)" class="bug-title">@bug.Title</a></td>
                        <td><span class="bug-platform">@bug.Platform.ToString()</span></td>
                        <td><span class="bug-created-user">@bug.CreatedUser</span></td>
                        <td><span class="bug-severity">@bug.Severity</span></td>
                    </tr>
                }
            </table>
        }
        else
        {

        }
    </div>
}
